<div class="d-flex mb-2">
<div class="mr-auto">
  <div class="row">
    <div class="col">
      <h3>
        <%= @post.title %>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'badges', post: @post %>
    </div>
  </div>
  <div>
  </div>
</div>
<div>
  <%= render 'votes/vote_submit', voteable: @post, vote_value: @post_vote.value %>
</div>
</div>
<p class="border p-3">
  <%= @post.body %>
<p>
<div>
  <%= render 'comments/comment_submit', commentable: @post %>
</div>

<div>
<% @comments.each do |comment| %>
  <div class="container border-top pt-3 pb-3 d-flex" id=<%= comment.id %>>
    <div class="mr-auto">
      <h5 class="row">
        <%= link_to  comment.user.name, user_path(comment.user) %>
      </h5>
      <p class="row px-3"><%= comment.body %></p>
    </div>
    <div> 
      <%= render 'votes/vote_submit', voteable: comment, vote_value: comment.vote_value %>
    </div>
  </div>
<% end %>
</div>
