<div class="d-flex mb-2">
  <div class="flex-column mr-auto">
    <div class="flex-row">
      <h4 class="text-break">
        <%= @post.title %>
      </h4>
    </div>
    <div class="flex-row">
      <%= render 'badges', post: @post %>
    </div>
    <div>
    </div>
  </div>
  <%= render 'votes/vote_submit', voteable: @post, vote_value: @vote&.value %>
</div>
<p class="border p-3">
  <%= @post.body %>
<p>

<div>
  <%= render 'comments/comment_submit', commentable: @post %>
</div>

<%= render 'comments/paginate', comments: @comments %>
